/* autocomplete with debounce css */
.custom-list {
    position: relative;
    padding: 0;
    margin: 0 0 4px 0;
    border: 1px solid rgb(118, 118, 118);
    border-top: 0;
    top: -4px;
}
.custom-list-item {
    background-color: white;
    color: black;
    list-style: none;
    padding: 4px;
}

.custom-list-item:hover {
    background-color: rgb(240, 240, 240);
}
